{# templates/main.html.twig #}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>symfony Blog</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>
<body class="bg-stone-950 text-slate-100" dir="rtl">
    {% include "navbar.html" %}
    <div class="flex justify-center mt-[60px]">
        <div class="w-[250px] border p-3 rounded-md">
            <h3 class="mb-4 font-semibold text-gray-900 dark:text-white">فیلترها</h3>
            <div class="flex">
                <div class="flex items-center me-4 p-3 border rounded-lg m2">
                    <input id="inline-checkbox-personal" type="checkbox" value="" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                    <label for="inline-checkbox-personal" class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">نوشته‌های من</label>
                </div>
            </div>
            <h3 class="my-2 font-semibold text-gray-900 dark:text-white">بر اساس دسته بندی</h3>
            <div class="flex flex-wrap">
                {% for category in allcategory %}
                <div class="flex items-center me-4 p-3 border rounded-lg m-2">
                    <input id="inline-checkbox{{ category.id }}" type="checkbox" value="" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                    <label for="inline-checkbox{{ category.id }}" class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">{{ category.name }}</label>
                </div>
                {% endfor %}
            </div>
            <h3 class="my-2 font-semibold text-gray-900 dark:text-white">بر اساس نوع</h3>
            <div class="flex flex-wrap">
                {% for postType in allPostType %}
                <div class="flex items-center me-4 p-3 border rounded-lg m-2">
                    <input id="inline-checkbox{{ postType.id }}" type="checkbox" value="" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                    <label for="inline-checkbox{{ postType.id }}" class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">{{ postType.name }}</label>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="w-[600px] mx-2 border p-3 rounded-md overflow-y-scroll" id="containerBlog">

        </div>
    </div>
</body>
<script src="{{ asset('blog.js') }}"></script>
</html>