<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>symfony Blog</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>
<body class="bg-stone-950 text-slate-100" dir="rtl">
    {% include "navbar.html" %}
    <div class="flex justify-center mt-[60px]">
        <div class="w-[600px] border flex flex-wrap p-3">
            <div class=" flex ">
                {% if isadmin == 1 %}
                <div>
                    <button onclick="deletePost({{ postData.id }})" type="button" class="text-white bg-red-700 hover:bg-red-800 focus:outline-none focus:ring-4 focus:ring-red-300 font-medium rounded-full text-sm px-5 py-2.5 text-center me-2 mb-2 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-900">حذف پست</button>
                </div>
                <div class="m-2 p-3 border">
                    <select id="statusType" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                        <option value="process" {% if postData.status == "process" %} selected {% endif %}>در انتظار تایید</option>
                        <option value="valid" {% if postData.status == "valid" %} selected {% endif %}>تایید شده</option>
                        <option value="reject" {% if postData.status == "reject" %} selected {% endif %}>رد شده</option>
                    </select>
                    <button onclick="changeStatus(document.getElementById('statusType').value, {{ postData.id }})" type="button" class="text-white bg-blue-700 hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300 font-medium rounded-full text-sm px-5 py-2.5 text-center me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">ثبت</button>
                </div>
                {% endif %}
                <div>
                    وضعیت: 
                    {% if postData.status == "valid" %}
                    <span>تایید شده</span>
                    {% elseif postData.status == "process" %}
                    <span>در انتظار تایید</span>
                    {% elseif postData.status == "reject" %}
                    <span>رد شده</span>
                    {% endif %}
                </div>
            </div>
            <div class="flex justify-around w-full items-center">
                <h1 class="text-lg">{{ postData.title }}</h1>
                <img width="300px" src="/uploads/fileMedia/{{ postData.media }}">
            </div>
            <p>
              {{ postData.content }}  
            </p>
        </div>
    </div>
</body>
{% if isadmin == 1 %}
<script src="{{ asset('manageAdmin.js') }}"></script>
{% endif %}
</html>